{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'header.css' %}">

<div class="user-nav">

    {% if request.user.is_authenticated %}

        <a href="{% url 'todo_app:profile' %}" class="user-link">
            {{ request.user.username }}
        </a>

        <a href="{% url 'todo_app:logout' %}" class="logout-link">
            خروج
        </a>

    {% else %}

        <a href="{% url 'todo_app:login' %}" class="login-link">
            ورود
        </a>
        <a href="{% url 'todo_app:register' %}" class="register-link">
            ثبت نام
        </a>

    {% endif %}

</div>
