{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'last_week.css' %}">

<div class="week-tasks-box">

    <h2 class="week-title">تسک‌های با یک هفته یا کمتر فرصت</h2>

    {% if last_week_tasks %}
        <ul class="week-task-list">

            {% for task in last_week_tasks %}
                <li>
                    <a href="{{ task.get_absolute_url }}" class="week-task-link">
                        {{ task.title }}
                    </a>
                </li>
            {% endfor %}

        </ul>
    {% else %}
        <p class="no-week-task">هیچ تسکی با فرصت یک هفته‌ای وجود ندارد</p>
    {% endif %}

</div>
