{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'today_tasks.css' %}">

<div class="today-tasks-box">

    <h2 class="today-title">تسک‌های تا پایان امروز</h2>

    {% if today_task %}
        <ul class="today-task-list">

            {% for task in today_task %}
                <li>
                    <a href="{{ task.get_absolute_url }}" class="today-task-link">
                        {{ task.title }}
                    </a>
                </li>
            {% endfor %}

        </ul>

    {% else %}
        <p class="no-task">تسکی برای امروز ثبت نشده</p>
    {% endif %}

</div>
