{% extends 'parent/base.html' %}
{% load static %}
{% block title %}Create Task{% endblock %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'task_create.css' %}"    >
<div class="task-create-container">

    <h1 class="task-create-title">ایجاد تسک جدید</h1>

    <form method="post" class="task-create-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-submit">ثبت</button>
    </form>

    {% if form.errors %}
        <div class="form-error-box">
            <h4>خطاها:</h4>
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

</div>

{% endblock %}
