{% extends 'parent/base.html' %}
{% load static %}
{% block title %}Delete Task{% endblock %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'task_delete.css' %}">

<div class="delete-task-container">

    <h1 class="delete-title">حذف تسک</h1>

    <p class="delete-question">
        آیا مطمئن هستی که می‌خوای تسک
        <a href="{{ task.get_absolute_url }}" class="task-link">"{{ task.title }}"</a>
        رو حذف کنی؟
    </p>

    <div class="delete-actions">

        <a href="{% url 'todo_app:profile' %}" class="btn-cancel">بازگشت</a>

        <form method="post" class="delete-form">
            {% csrf_token %}
            <button type="submit" class="btn-delete">حذف</button>
        </form>

    </div>

</div>

{% endblock %}
