{% extends 'parent/base.html' %}
{% block title %}Task detail{% endblock %}
{% block content %}

    <h1>Task Detail</h1>
    <hr>

    <h2>{{ task.title }} by {{ task.task_user }}</h2>
    <hr>

    <h4>{{ task.description }}</h4>
    <hr>

    <h5>{{ task.get_priority_display }}</h5>
    <hr>

    <p>created_at: {{ task.created_at }}</p>
    <hr>

    <h3>({{ task.complete_status }})</h3>
    <hr>

    <h2>
        <a href='{% url 'todo_app:delete_task' task.id %}'>حذف تسک</a>
    </h2>

{% endblock %}