{% extends 'parent/base.html' %}
{% load static %}
{% block title %}Task list{% endblock %}
{% block content %}


<link rel="stylesheet" type="text/css" href="{% static 'css/task_list.css' %}">


<div class="container">
<h1 class="header-title">Task List</h1>
<hr>


<ol class="task-list" style="--length: {{ tasks|length }}">
{% for task in tasks %}
<li style="--i: {{ forloop.counter }}" class="task-item">
<h3>
<a href="{{ task.get_absolute_url }}">{{ task.title }}</a>
</h3>


<h5 class="description">
{{ task.description|truncatewords:3 }} | {{ task.priority }}
</h5>
</li>
{% endfor %}
</ol>
</div>
<br>

{% include 'partial/pagination.html' with page_obj=tasks %}

{% endblock %}

